*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.voting{
    position: relative;
    border-radius: 2px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
input{
    width: 50px;
    border: none;
    background: none;
    color: #5c5353;
    font-size: 20px;
    margin: 0 5px;
    pointer-events: none;
}
button{
    color: #555555;
    background: none;
    border: none;
    font-size: 20px;
    padding: 0 15px;
    margin: 50px 0;
    margin-left: 10px;
    cursor: pointer;
}
button:active{
    color: #004eff;
    transform: scale(1.2);
}